body
{
    background-color: #000;

    overflow: hidden;
}

main .fundo
{

    width: 100%;
    height: 100vh;
    object-fit: cover;
}

main .pagina
{
    display: none;
}

main .pagina.selecionado
{
    display: block;
}

main::after
{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 90vw;

    background: linear-gradient(283deg, rgba(0,212,255,0.25) 0%, rgba(1,200,247,0.25) 0%, rgba(1,193,242,0) 0%, rgba(9,9,121,0.75) 52%, rgba(2,0,36,1) 100%)no-repeat;
}

.pagina .detalhes.pg
{
    display: none;
    position: absolute;
    
    top: 0;
    height: 100vh;
    left: 600px;
    color: rgb(0, 525, 215);;
    
    font-family: 'Yaldevi', sans-serif;
    font-family: 'Young Serif', serif;

    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 40vh;
    max-width: 380px;

    z-index: 2;
}

.conteudo
{
    margin-left: 20px;

    color: rgb(0, 525, 215);;
    font-family: 'Yaldevi', sans-serif;
    font-family: 'Young Serif', serif;
    font: size 40px;
    line-height: 24px;

    z-index: 1;
}

.pagina .detalhes.h
{
    display: none;

    position: absolute;
    left: 100px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    min-height: 40vh;
    color: rgb(0, 525, 215);

    font-family: 'Yaldevi', sans-serif;
    font-family: 'Young Serif', serif;
    margin-bottom: 20px;
    
    z-index: 1;

}

.detalhes.empresa
{
    display: none;
    gap: 50px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;

    top: 0;
    left: 130px;
    min-height: 70vh ;
    color: rgb(0, 525, 215);
}

.conteudo.e
{
    position: fixed;
    min-height: 130vh;
    width: 400px;
    gap: 10;
    top: 0;
    left: 130px;
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: (0, 525, 215);
}

.marca .nomevl
{
    top: 0;
    
    position: absolute;
    left: 20px;

    font-family: 'Yaldevi', sans-serif;
    font-family: 'Young Serif', serif;
    
    color: blue;
    font-size: 40px;
    font-weight: 500;

    z-index: 1;
}

.marca .logo
{
    position: absolute;
    background-size: cover;
    background-image: url("../imagens/logo.png");
    
    height: 60px;
    width: 40px;
    top: 0;
    left: 400px;

    z-index: 1;
    color: blue;
}

.botoes
{
    position:fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;


    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;

    gap:25px;
    background-color: rgba(0,0,25,0.3);
}
.cadast
{
    position: fixed;
    min-height: 25vh;
    width: 400px;
    gap: 10;
    top: 0;
    left: 130px;

    justify-content: center;
    display: flex;
    flex-direction: column;
    
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}

.info
{
    position: fixed;
    min-height: 20vh;
    width: 400px;
    gap: 10;
    top: 0;
    left: 500px;
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    
    font-size: 20px;
    color: rgb(0, 525, 215);
}

.pagina .Login
{
    position: fixed;
    min-height: 25vh;
    width: 400px;
    gap: 10;
    top: 0;
    left: 130px;

    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    font-size: 30px;
    color: blue;
}

.prod
{
    z-index: 2;
    position: fixed;
    min-height: 25vh;
    width: 400px;
    gap: 10;
    top: 0;
    left: 130px;

    justify-content: center;
    display: flex;
    flex-direction: column;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    font-size: 60px;
    color:rgb(0, 234, 255);
}

.entrad
{
    
    position: absolute;
    position: fixed;
    min-height: 130vh;
    width: 81vw;
    z-index: 2;
    left: 0;

    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;
}

.lg{
    position: absolute;
    position: fixed;
    min-height: 130vh;
    width: 81vw;
    z-index: 2;
    left: 0;

    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;
}

.cadastrar
{
    /* background-color: blue; */
    
    font-family: 'Yaldevi', sans-serif;
    font-family: 'Young Serif', serif;

}

.inf
{
    position: fixed;
    min-height: 20vh;
    width: 500px;
    gap: 10;
    top: 0;
    left: 450px;
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    
    font-size: 20px;
    color: rgb(0, 525, 215);;
}

.tabela 
{
    top: 0;

    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;

    justify-content: center;
    min-height: 100vh;
    width: 85vw;

    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #00fff7;
    border-color: #000;
    margin: 10px;
}

td
{
    border: 2px solid #000;
    padding: 4px;
    border-collapse: collapse;
    width: 50px;
    
}

.link
{
    
    z-index: 2;
    position: absolute;

    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 80vw;

    justify-content: center;
    align-items: center;
    font-size: 60px;

    color: red;
}

.texto
{
    z-index: 1;
    position: absolute;

    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    min-height: 157vh;
    width: 80vw;

    justify-content: center;
    align-items: center;
    font-size: 60px;

    color: rgb(0, 255, 213);
}

.botoes .botao
{
    border-radius: 95%;
} 

.botoes .botao.selecionado
{
    transform: scale(1.5);
}